<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @twitter_keyword.name %>
</p>


<%= link_to 'Edit', edit_twitter_keyword_path(@twitter_keyword) %> |
<%= link_to 'Back', twitter_keywords_path %>
