<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @recommendation.name %>
</p>

<p>
  <b>Description:</b>
  <%= @recommendation.description %>
</p>


<%= link_to 'Back', recommendations_path %>
