<div class="header"></div><h2>Social Media Monitoring war noch nie so einfach, übersichtlich und preiswert. <span class="green"> Derzeit in privatem beta Test, demnächst deutschlandweit verfügbar.</span> </h2><br />
	      <a class="btn-success btn-primary btn-large success" href="/contacts/new">Agentur Anfragen</a>  </div>

<div class="row">
	<div class="span4">
		<img src="/assets/PastedGraphic-2.png" width="300" height="190" alt="PastedGraphic 2">
		</div>
		<div class="span4">
			<img src="/assets/PastedGraphic-5.png" width="300" height="188" alt="PastedGraphic 5">
			</div>
			<div class="span4">
				<img src="/assets/social.png" width="300" height="188" alt="PastedGraphic 4">
				</div>
				</div>
<div class="row">

    <div class="span4">
      <h2>Ihre Vorteile als Unternehmer</h2>

       <p>Apphera ist der erste deutsche Anbieter für Social Media Monitoring und Online Reputation Management für lokale Unternehmen wie Restaurants, Hotels, Freizeitunternehmen und Ladengeschäfte.</p>
<h4>
<ul>
<li>
	Wer spricht über Sie und was wird gesagt?
	</li>
	<li>
	Werden Sie auf Suchmaschinen problemlos gefunden?
	</li>
	<li>
	Erhalten Sie automatische Benachrichtigungen bei wichtigen Ereignissen!
	</li>
	<li>
	Sie erhalten einfachste und zeitnahe Informationen und Beobachtungen über Ihre Mitbewerber!
	</li>
	<li>
	Wir senden Ihnen automatisch individuelle, klare und einfach zu befolgende Tipps, wie Sie online mehr Kunden gewinnen können!
</li>
	
</ul>
</h4>	
      <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
    </div>
    <div class="span4">
      <h2>Social Netzwetter. Ein kleiner Vorgeschmack</h2>
<a href="/home/network">Hier geht es zum Netzwetter</a>
       <p>Appheras Netzwerk befindet sich gerade im Testbetrieb. Wir dachten, es wäre eine gute Idee, unsere Ergebnisse mit Ihnen zu teilen. So ist unser Netzwetter entstanden. Hier analysieren wir Millionen von User-Beiträgen im deutschsprachigen Internet, um Stimmungsbilder zu erhalten. Diese und andere Leistungen werden Ihnen und Ihrem Unternehmen in naher Zukunft zur Verfügung stehen. Als Mitglied erhalten Sie einen Echtzeit-überblick! Was wird zum Beispiel in diesem Moment direkt über Ihr Unternehmen gesprochen? Werden Reviews hinterlassen? Wie hoch ist der Grad des Einflusses des Reviewers? Diese und noch mehr wichtige Informationen werden Ihnen in einfach zu lesenden Grafiken und übersichten gezeigt. - Bei uns ist kein Marketing Studium notwendig! </p>
      <!-- <p><a class="btn" href="#">View details &raquo;</a></p> -->
   </div>
    <div class="span4">
      <h2>Agenturen und Reseller</h2><br />
<div class="well">
<h4>
      <p>Haben Sie Interesse daran bereits zum Start als Partner/Wiederverkäufer mit dabei zu sein? Dann kontaktieren Sie uns bitte. Wir bieten Co-Branding- und Wiederverkäufer-Möglichkeiten.</p></h4>
<br />
      <p><a class="btn-success btn-primary btn-large success" href="/contacts/new">Agentur Anfragen</a></p>
</div>
        </div>
    <!--</div>-->
