<h3>Kontaktieren Sie uns</h3>

<div class="row">
	<div class="span 6">
<%= render 'form' %>
</div>
<div class="span 6">
	<div class="well">
<h5>F&uuml;r telefonische Anfragen wenden Sie sich bitte an: <br />
	Apphera Deutschland<br />
Herr Thorsten Weber
Tel.: 040 320 277 42
</h5>
<br />
</div>
<div class="well">
	<h5>
Datacenter<br />
USA - Toll Free +1.888.859.3358
</h5>
</div>
</div>
</div>

