<h3>Ihre Suchbegriffe</h3>


<table class="table table-striped">
  <tr>
    <th>Keyword</th>
    <th></th>
    <th></th>
  </tr>
  <% @keywords.each do |keyword| %>
      <tr>

        <td><%= link_to keyword.name, keyword %></td>
        <td><%= link_to 'Such-Ergebnisse anzeigen', keyword %></td>
        <td><%= link_to 'Entfernen', keyword, confirm: 'Sind Sie sicher das Sie den Suchbegriff entfernen möchten?', method: :delete %></td>
      </tr>
  <% end %>
</table>

<br/>

<%= link_to 'Neuen Suchbegriff hinzufügen', new_keyword_path, :class => "btn" %>
