<h4>AGREEMENT BETWEEN USER AND Apphera - Online User Forum</h4>
<br />
The Apphera - Online User Forum Web Site is comprised of various Web pages operated by Apphera - Online User Forum.
<br />
The Apphera - Online User Forum Web Site is offered to you conditioned on your acceptance without modification of the terms, conditions, and notices contained herein. Your use of the Apphera - Online User Forum Web Site constitutes your agreement to all such terms, conditions, and notices.

<h5>MODIFICATION OF THESE TERMS OF USE</h5>
<br />
Apphera - Online User Forum reserves the right to change the terms, conditions, and notices under which the Apphera - Online User Forum Web Site is offered, including but not limited to the charges associated with the use of the Apphera - Online User Forum Web Site.

<h5>LINKS TO THIRD PARTY SITES</h5><br />

The Apphera - Online User Forum Web Site may contain links to other Web Sites ("Linked Sites"). The Linked Sites are not under the control of Apphera - Online User Forum and Apphera - Online User Forum is not responsible for the contents of any Linked Site, including without limitation any link contained in a Linked Site, or any changes or updates to a Linked Site. Apphera - Online User Forum is not responsible for webcasting or any other form of transmission received from any Linked Site. Apphera - Online User Forum is providing these links to you only as a convenience, and the inclusion of any link does not imply endorsement by Apphera - Online User Forum of the site or any association with its operators.

<h5>NO UNLAWFUL OR PROHIBITED USE</h5><br />

As a condition of your use of the Apphera - Online User Forum Web Site, you warrant to Apphera - Online User Forum that you will not use the Apphera - Online User Forum Web Site for any purpose that is unlawful or prohibited by these terms, conditions, and notices. You may not use the Apphera - Online User Forum Web Site in any manner which could damage, disable, overburden, or impair the Apphera - Online User Forum Web Site or interfere with any other party's use and enjoyment of the Apphera - Online User Forum Web Site. You may not obtain or attempt to obtain any materials or information through any means not intentionally made available or provided for through the Apphera - Online User Forum Web Sites.

<h5>USE OF COMMUNICATION SERVICES</h5><br />

The Apphera - Online User Forum Web Site may contain bulletin board services, chat areas, news groups, forums, communities, personal web pages, calendars, and/or other message or communication facilities designed to enable you to communicate with the public at large or with a group (collectively, "Communication Services"), you agree to use the Communication Services only to post, send and receive messages and material that are proper and related to the particular Communication Service. By way of example, and not as a limitation, you agree that when using a Communication Service, you will not:

Defame, abuse, harass, stalk, threaten or otherwise violate the legal rights (such as rights of privacy and publicity) of others.

Publish, post, upload, distribute or disseminate any inappropriate, profane, defamatory, infringing, obscene, indecent or unlawful topic, name, material or information.

Upload files that contain software or other material protected by intellectual property laws (or by rights of privacy of publicity) unless you own or control the rights thereto or have received all necessary consents.

Upload files that contain viruses, corrupted files, or any other similar software or programs that may damage the operation of another's computer.

Advertise or offer to sell or buy any goods or services for any business purpose, unless such Communication Service specifically allows such messages.

Conduct or forward surveys, contests, pyramid schemes or chain letters.

Download any file posted by another user of a Communication Service that you know, or reasonably should know, cannot be legally distributed in such manner.

Falsify or delete any author attributions, legal or other proper notices or proprietary designations or labels of the origin or source of software or other material contained in a file that is uploaded.

Restrict or inhibit any other user from using and enjoying the Communication Services.

Violate any code of conduct or other guidelines which may be applicable for any particular Communication Service.

Harvest or otherwise collect information about others, including e-mail addresses, without their consent.

Violate any applicable laws or regulations.
Apphera - Online User Forum has no obligation to monitor the Communication Services. However, Apphera - Online User Forum reserves the right to review materials posted to a Communication Service and to remove any materials in its sole discretion. Apphera - Online User Forum reserves the right to terminate your access to any or all of the Communication Services at any time without notice for any reason whatsoever.

Apphera - Online User Forum reserves the right at all times to disclose any information as necessary to satisfy any applicable law, regulation, legal process or governmental request, or to edit, refuse to post or to remove any information or materials, in whole or in part, in Apphera - Online User Forum's sole discretion.

Always use caution when giving out any personally identifying information about yourself or your children in any Communication Service. Apphera - Online User Forum does not control or endorse the content, messages or information found in any Communication Service and, therefore, Apphera - Online User Forum specifically disclaims any liability with regard to the Communication Services and any actions resulting from your participation in any Communication Service. Managers and hosts are not authorized Apphera - Online User Forum spokespersons, and their views do not necessarily reflect those of Apphera - Online User Forum.

Materials uploaded to a Communication Service may be subject to posted limitations on usage, reproduction and/or dissemination. You are responsible for adhering to such limitations if you download the materials.

<h5>MATERIALS PROVIDED TO Apphera - Online User Forum OR POSTED AT ANY Apphera - Online User Forum WEB SITE</h5><br />

Apphera - Online User Forum does not claim ownership of the materials you provide to Apphera - Online User Forum (including feedback and suggestions) or post, upload, input or submit to any Apphera - Online User Forum Web Site or its associated services (collectively "Submissions"). However, by posting, uploading, inputting, providing or submitting your Submission you are granting Apphera - Online User Forum, its affiliated companies and necessary sublicensees permission to use your Submission in connection with the operation of their Internet businesses including, without limitation, the rights to: copy, distribute, transmit, publicly display, publicly perform, reproduce, edit, translate and reformat your Submission; and to publish your name in connection with your Submission.

No compensation will be paid with respect to the use of your Submission, as provided herein. Apphera - Online User Forum is under no obligation to post or use any Submission you may provide and may remove any Submission at any time in Apphera - Online User Forum's sole discretion.

By posting, uploading, inputting, providing or submitting your Submission you warrant and represent that you own or otherwise control all of the rights to your Submission as described in this section including, without limitation, all the rights necessary for you to provide, post, upload, input or submit the Submissions.

<h5>LIABILITY DISCLAIMER</h5><br />

THE INFORMATION, SOFTWARE, PRODUCTS, AND SERVICES INCLUDED IN OR AVAILABLE THROUGH THE Apphera - Online User Forum WEB SITE MAY INCLUDE INACCURACIES OR TYPOGRAPHICAL ERRORS. CHANGES ARE PERIODICALLY ADDED TO THE INFORMATION HEREIN. Apphera - Online User Forum AND/OR ITS SUPPLIERS MAY MAKE IMPROVEMENTS AND/OR CHANGES IN THE Apphera - Online User Forum WEB SITE AT ANY TIME. ADVICE RECEIVED VIA THE Apphera - Online User Forum WEB SITE SHOULD NOT BE RELIED UPON FOR PERSONAL, MEDICAL, LEGAL OR FINANCIAL DECISIONS AND YOU SHOULD CONSULT AN APPROPRIATE PROFESSIONAL FOR SPECIFIC ADVICE TAILORED TO YOUR SITUATION.

Apphera - Online User Forum AND/OR ITS SUPPLIERS MAKE NO REPRESENTATIONS ABOUT THE SUITABILITY, RELIABILITY, AVAILABILITY, TIMELINESS, AND ACCURACY OF THE INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS CONTAINED ON THE Apphera - Online User Forum WEB SITE FOR ANY PURPOSE. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, ALL SUCH INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS ARE PROVIDED "AS IS" WITHOUT WARRANTY OR CONDITION OF ANY KIND. Apphera - Online User Forum AND/OR ITS SUPPLIERS HEREBY DISCLAIM ALL WARRANTIES AND CONDITIONS WITH REGARD TO THIS INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS, INCLUDING ALL IMPLIED WARRANTIES OR CONDITIONS OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, TITLE AND NON-INFRINGEMENT.

TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT SHALL Apphera - Online User Forum AND/OR ITS SUPPLIERS BE LIABLE FOR ANY DIRECT, INDIRECT, PUNITIVE, INCIDENTAL, SPECIAL, CONSEQUENTIAL DAMAGES OR ANY DAMAGES WHATSOEVER INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OF USE, DATA OR PROFITS, ARISING OUT OF OR IN ANY WAY CONNECTED WITH THE USE OR PERFORMANCE OF THE Apphera - Online User Forum WEB SITE, WITH THE DELAY OR INABILITY TO USE THE Apphera - Online User Forum WEB SITE OR RELATED SERVICES, THE PROVISION OF OR FAILURE TO PROVIDE SERVICES, OR FOR ANY INFORMATION, SOFTWARE, PRODUCTS, SERVICES AND RELATED GRAPHICS OBTAINED THROUGH THE Apphera - Online User Forum WEB SITE, OR OTHERWISE ARISING OUT OF THE USE OF THE Apphera - Online User Forum WEB SITE, WHETHER BASED ON CONTRACT, TORT, NEGLIGENCE, STRICT LIABILITY OR OTHERWISE, EVEN IF Apphera - Online User Forum OR ANY OF ITS SUPPLIERS HAS BEEN ADVISED OF THE POSSIBILITY OF DAMAGES. BECAUSE SOME STATES/JURISDICTIONS DO NOT ALLOW THE EXCLUSION OR LIMITATION OF LIABILITY FOR CONSEQUENTIAL OR INCIDENTAL DAMAGES, THE ABOVE LIMITATION MAY NOT APPLY TO YOU. IF YOU ARE DISSATISFIED WITH ANY PORTION OF THE Apphera - Online User Forum WEB SITE, OR WITH ANY OF THESE TERMS OF USE, YOUR SOLE AND EXCLUSIVE REMEDY IS TO DISCONTINUE USING THE Apphera - Online User Forum WEB SITE.

<h5>SERVICE CONTACT : admin@apphera.com</h5><br />

<h5>TERMINATION/ACCESS RESTRICTION</h5><br />

Apphera - Online User Forum reserves the right, in its sole discretion, to terminate your access to the Apphera - Online User Forum Web Site and the related services or any portion thereof at any time, without notice. GENERAL To the maximum extent permitted by law, this agreement is governed by the laws of the State of Washington, U.S.A. and you hereby consent to the exclusive jurisdiction and venue of courts in King County, Washington, U.S.A. in all disputes arising out of or relating to the use of the Apphera - Online User Forum Web Site. Use of the Apphera - Online User Forum Web Site is unauthorized in any jurisdiction that does not give effect to all provisions of these terms and conditions, including without limitation this paragraph. You agree that no joint venture, partnership, employment, or agency relationship exists between you and Apphera - Online User Forum as a result of this agreement or use of the Apphera - Online User Forum Web Site. Apphera - Online User Forum's performance of this agreement is subject to existing laws and legal process, and nothing contained in this agreement is in derogation of Apphera - Online User Forum's right to comply with governmental, court and law enforcement requests or requirements relating to your use of the Apphera - Online User Forum Web Site or information provided to or gathered by Apphera - Online User Forum with respect to such use. If any part of this agreement is determined to be invalid or unenforceable pursuant to applicable law including, but not limited to, the warranty disclaimers and liability limitations set forth above, then the invalid or unenforceable provision will be deemed superseded by a valid, enforceable provision that most closely matches the intent of the original provision and the remainder of the agreement shall continue in effect. Unless otherwise specified herein, this agreement constitutes the entire agreement between the user and Apphera - Online User Forum with respect to the Apphera - Online User Forum Web Site and it supersedes all prior or contemporaneous communications and proposals, whether electronic, oral or written, between the user and Apphera - Online User Forum with respect to the Apphera - Online User Forum Web Site. A printed version of this agreement and of any notice given in electronic form shall be admissible in judicial or administrative proceedings based upon or relating to this agreement to the same extent an d subject to the same conditions as other business documents and records originally generated and maintained in printed form. It is the express wish to the parties that this agreement and all related documents be drawn up in English.

<h5>COPYRIGHT AND TRADEMARK NOTICES:</h5><br />

All contents of the Apphera - Online User Forum Web Site are: Copyright 2012 by Manek Media, LLC and/or its suppliers. All rights reserved.

<h5>TRADEMARKS</h5><br />

The names of actual companies and products mentioned herein may be the trademarks of their respective owners.

The example companies, organizations, products, people and events depicted herein are fictitious. No association with any real company, organization, product, person, or event is intended or should be inferred.

Any rights not expressly granted herein are reserved.

<h5>NOTICES AND PROCEDURE FOR MAKING CLAIMS OF COPYRIGHT INFRINGEMENT</h5><br />

Pursuant to Title 17, United States Code, Section 512(c)(2), notifications of claimed copyright infringement under United States copyright law should be sent to Service Provider's Designated Agent. ALL INQUIRIES NOT RELEVANT TO THE FOLLOWING PROCEDURE WILL RECEIVE NO RESPONSE. See Notice and Procedure for Making Claims of Copyright Infringement. 
